.placeforBanner {
  width: 800px;
  margin: 0 auto;
  background-image: url(../../../img/banner1_bg.jpg);
}

.placeforBanner p,
.placeforBanner2 p {
  font-size: 40px;
  font-family: "Roboto-Regular";
  color: #fff;
  text-align: center;
}

.placeforBanner p {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 39px;
}

.placeforBanner2 {
  width: 1050px;
  margin: 0 auto;
  background-image: url(../../../img/banner2_bgjpg.jpg);
}

.placeforBanner2 p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 70px;
}

.main-bg4,
.main-bg5,
.how_to_contact {
  width: 1110px;
  margin: 0 auto;
}

.main-title4,
.main-title5 {
  background-color: #caddea;
}

.main-title4 h2,
.main-title5 h2 {
  font-family: "Roboto-Bold";
  text-align: center;
  font-family: "Roboto-Bold";
  color: #1b7fd0;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 14px;
  margin-bottom: 0;
}

.main-bg4 .d7,
.main-bg5 .d7 {
  border-top: 18px solid #caddea;
  border-right: 33px solid transparent;
}

.main-bg4 .d7 {
  margin-bottom: 35px;
}

.main-bg5 {
  margin-top: 65px;
}

.main-bg4,
.main-bg5 {
  filter: drop-shadow(4px 4px 7px #9bb6bebf);
}
